body {
  background-color: #000202;
}

.leaderboard {
  background-color: #2c3e50; /* Dark background color */
  color: #ecf0f1; /* Light text color */
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;

}

table {
  width: 100%;
  border-collapse: collapse;
  
}

thead {
  background-color: #def55cc0; /* Header background color */
  color: #000202; /* Light text color */
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
}


tbody {
  display: block;
}
tr {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #cdec5184; /* Border color between rows */
  transition: background-color 0.3s ease;
 


  &:hover {
    background-color: #b1e7569a; /* Hovered row background color */
  }
}

td {
  width: 30px;
}

.leaderHeader{
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderHeader h1 {
  margin-top: 70px;
  font-size: 4rem;
}

.leaderPage{
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;

}

a {
  color:  #2c3e50;
}

.text-center {
  color:  #2c3e50;
}

th{
  font-family: Courier New,monospace;
  color: #062d24;
  animation: fade-from-left .5s forwards;
  animation-duration: 1.25s;
  letter-spacing: -.75px;
  animation-delay: .1s;
  font-size: 1.5rem;
  padding: 20px;
  margin-left: 150px;


}


