.profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #4bf275;
    border-radius: 70px;
    box-shadow: 0 0 10px #4bf275;
    display: flex;
  }
  
  .avatar-section {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .edit-avatar-btn {
    background-color: #1f1b32;
    color: #ebee83;
    padding: 8px 12px;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    bottom: -20px;
    left: 50%;
    border: 0;
    transform: translateX(-50%);
  }
  
  .avatar-section:hover .edit-avatar-btn {
    opacity: 1;
  }
  
  .user-info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  

  
  .profile-info-container:hover .achievements-section,
  .profile-info-container:hover .rank-section,
  .profile-info-container:hover .sessions-section {
    opacity: 1;
  }
  

  .achievements-section,
  .rank-section,
  .sessions-section {
    margin: 0 10px; /* Adjust the margin as needed */
  }