
  
  #sec-session{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 40px;
  }

  .sessions-section {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    margin-bottom: 0;
  }
  


  .achievements-section {
    display: flex;
    flex-direction:column;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  #font-profile {
    font-size: 16px;
  }

  #sessionsH1{
    margin-top: 20px;
    margin-bottom:10px;
  }