.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 20px;
  height: 50px;
  text-align: center;
  color: #afec3f;
  background-color: #474747;
  gap: 20px;
  border-radius: 10px;
}

.navbar h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  letter-spacing: normal;
}

.navbar-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

input#fontSizeRange {
  margin: 0;
}

#no {
  height: 36px;
  width: 80px;
  font-size: 16px;
  color: rgb(185, 185, 185);
  border: 1px solid #afec3f;
  border-radius: 4px;
  background-color: #474747;
}

#no:focus {
  outline: none;
}

.css-2b097c-container {
  width: 120px;
  color: black;
  background-color: #474747;
}

.css-yk16xz-control {
  background-color: #474747 !important;
  border-color: #afec3f !important;
}

.leave {
  font-weight: bold;
  color: white;
  background-color: red;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}
