@import url('https://fonts.googleapis.com/css2?family=Anton&family=Carrois+Gothic&family=Manrope&family=Nunito+Sans:opsz,wght@6..12,300&family=Rubik+Glitch&display=swap');

/*body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:3em;
    margin-left:2em;
    margin-right: 2em;
     
}

nav h1 {
    margin-right: 40em;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
}
*/
body {margin: 0;}

header {
    background-color: #0a3e315c;
    padding: 0.5em;
    box-shadow: 0 4px 6px rgba(29, 101, 64, 0.883);
    margin: 5px;

}

body.logged-in header {
    background-color: #2d615436; 
    padding: 0.5em;
    box-shadow: 0 2px 4px rgba(189, 193, 72, 0.883);
    margin: 5px;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    max-width: 100%;
}

header h1 {
    font-size: 50px;
    color: #4bf275;
    margin-right: 100px;
    letter-spacing: 13px;
}



.logout {
    background-color: #dc3545; 
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout:hover {
    background-color: #7ec82392; /* Darker red color on hover */
}

.onlyNavs {
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin-left: 300px; 
    align-items: center;
  }