@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');


/*#page{
    background-image: url("https://wallpapercave.com/wp/wp4469691.jpg");
}
*/
#page{
    color: white;
}

#middle {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
   /* padding:20px;*/
    border-radius: 30px;
    gap:1em;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
     
}
 
#middle h2 {
    font-size: 30px;
    font-family: 'Lemon', serif;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 2em;
}



    

.button1, .button2 {
   /* background-image: url('../../assets/esta.png');
     background-color: transparent;
    height: 2%;
    width:100%;
    background-size: cover;
    background-position:  center center;
    color: #080710;*/
    background-color: #d7e259;
    border: solid 5px rgb(184, 184, 14);
    outline: none;
    cursor: pointer;
     padding: 30px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Lemon', serif;
    border-radius: 40px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for depth */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
}

.button1:hover {
    transform: scale(1.05); /* Enlarge the button slightly on hover */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Adjusting shadow on hover for depth */
}

.button2:hover {
    transform: scale(1.05); /* Enlarge the button slightly on hover */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Adjusting shadow on hover for depth */
}

.button1:active  {
    transform: scale(0.95); /* Slightly shrink the button when clicked */
    box-shadow: none; /* Remove shadow on click */
}

.button2:active  {
    transform: scale(0.95); /* Slightly shrink the button when clicked */
    box-shadow: none; /* Remove shadow on click */
}


#middle h2 {
    font-size: 40px;
    font-family: 'Lemon', serif;
    margin-bottom: 1em;
    margin-top: 1em;
}


#top {/*
    background-color: rgb(255, 255, 0);
    margin-top: 1.5em;
    padding: 20px;
    border-radius: 30px;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 0em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    background-size: cover;
    transition: transform 0.5s ease-out;
    background-position:  center center ;
    /*transition: "transform 0.5s ease-out",*/
    /*
    backgroundColor: "rgb(255, 255, 0)",
    marginTop: "1.5em",
    padding: "20px",
    borderRadius: "30px",
    marginRight: "400px",
    marginLeft: "400px",
    marginBottom: "0em",
    boxShadow: "5px 5px 10px rgba(0, 0, 0, 0.5)",
    
    display: "flex",
    justifyContent: "flex-start",
    backgrounSize: "cover",
    background-position:  "center center" ,*/
}


.message {   
    border-radius: 40px;
    padding-bottom: 90px;  
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0em;
    margin-top: 2em;
    font-family: 'Lemon', serif;
}

.fa-ul {
    
 display: flex;
 flex-direction: column;
 gap: 1em;
 
 
}

.message li i {
    font-size: 40px;
    color: #d7e259;
    animation: arrowBounce 2s infinite;
}

#link1,#link2 {
    text-decoration: none;
    color: #080710;
    padding: 0;
    margin: 0;
}


@keyframes arrowBounce {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(20px);
    }
}
.message li {
    display: flex;
    gap: 2em;
    font-size: 30px;
     
 align-items: center;
}
/*<li><i class="fa-li fa fa-spinner fa-spin"></i>List icons</li>*/

.message h1 {
    font-size: 30px;
}

.message p {
    font-size: 20px;
    margin-top: 0.1em;
}

#games {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:1em;
    transition: transform 4s ease-out;
    /*margin-right: 10em;
    margin-left: 10em;*/
}

#games div {
    height: 300px;
    width: 220px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    cursor: pointer;
    /* Initially transparent */
    transition: 1 ease;
}

.first {
    background-image: url("https://img.icons8.com/external-flaticons-flat-flat-icons/452/external-debug-computer-programming-flaticons-flat-flat-icons.png");
}

.second {
    background-image: url("https://img.icons8.com/external-flaticons-flat-flat-icons/452/external-debug-computer-programming-flaticons-flat-flat-icons.png");
}

.third {
    background-image: url("https://img.icons8.com/external-flaticons-flat-flat-icons/452/external-debug-computer-programming-flaticons-flat-flat-icons.png ");
}

.fourth {
    background-image: url("https://img.icons8.com/external-flaticons-flat-flat-icons/452/external-debug-computer-programming-flaticons-flat-flat-icons.png ");
}

.fifth {
    background-image: url("https://img.icons8.com/external-flaticons-flat-flat-icons/452/external-debug-computer-programming-flaticons-flat-flat-icons.png ");
}

.buttons p:hover {
    background-color: rgb(207, 93, 93);
}

#games div:hover .buttons  {
   display: flex;
}

.hidden {
    transform: translateX(-100%); /* Move the section to the left to hide it */
}

footer {
    display: flex;
    flex-direction: column;
}




