@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');


/*#page{
    background-image: url("https://wallpapercave.com/wp/wp4469691.jpg");
}
*/

#middle {
    display: flex;
    flex-direction: column;
    margin-top: 0em;
    padding:20px;
    border-radius: 30px;
    margin-left: 390px ;
    margin-right: 390px ;
}
 
#middle h2 {
    font-size: 30px;
    font-family: 'Lemon', serif;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 2em;
}

#middle h1 {
    font-size: 40px;
    font-family: 'Lemon', serif;
}

#top {
    padding: 20px;
    border-radius: 30px;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 0em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-image: url("https://wallpapercave.com/wp/wp7664856.png");
    display: flex;
    justify-content: flex-start;
    background-size: cover;
    background-position:  center center;

}

.message {   
    border-radius: 40px;
    padding-bottom: 90px;  
    margin-left: 9em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0em;
}

.message h1 {
    font-size: 30px;
    
}

.message p {
    font-size: 20px;
    margin-top: 0.1em;
}

#games {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:1em;
    /*margin-right: 10em;
    margin-left: 10em;*/
}

#games div {
    height: 300px;
    width: 220px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    cursor: pointer;
    /* Initially transparent */
    transition: 1 ease;
    
}

.first {
    background-image: url("https://img.icons8.com/external-flaticons-flat-flat-icons/452/external-debug-computer-programming-flaticons-flat-flat-icons.png");
}

.second {
    background-image: url("https://img.icons8.com/external-flaticons-flat-flat-icons/452/external-debug-computer-programming-flaticons-flat-flat-icons.png");
}

.third {
    background-image: url("https://img.icons8.com/external-flaticons-flat-flat-icons/452/external-debug-computer-programming-flaticons-flat-flat-icons.png ");
}

.fourth {
    background-image: url("https://img.icons8.com/external-flaticons-flat-flat-icons/452/external-debug-computer-programming-flaticons-flat-flat-icons.png ");
}

.fifth {
    background-image: url("https://img.icons8.com/external-flaticons-flat-flat-icons/452/external-debug-computer-programming-flaticons-flat-flat-icons.png ");
}
 
#games .buttons {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap:1em;
    margin-top: 0;
    padding: 0;
    height: 0;
}

.buttons p {
    background-color: brown;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
}


.buttons p:hover {
    background-color: rgb(207, 93, 93);
}

#games div:hover .buttons  {
   display: flex;
}









